  #about{
    padding-top: 13%;
    padding-bottom: 9%;
  }
  
  #about-content {
    font-size: 17px;
  }
  
  #about-image img {
    max-width: 350px;
    position: relative;
    box-shadow: 15px 15px rgb(122, 126, 177);
  }
  
  @media only screen and (max-width: 788px) {
    #about-image img {
      max-width: 200px;
      box-shadow: none;
      margin-top: 90%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #about {
      height: unset;
      padding-left: unset;
      padding-right: unset;
    }
    #about-image img {
      margin-top: 90%;
      padding-right: 40%;
      max-width: 230px;
    }
  
    #about-content {
      display: unset;
      font-size: 12px;
    }
  }
  