  #about{
    padding-top: 13%;
  }
  
  #about-content {
    font-size: 17px;
  }
  
  #about-image img {
    max-width: 350px;
    position: relative;
  }

  #about-image:hover {
    transform: translateY(-15px);
  }
  
  @media only screen and (max-width: 788px) {
    #about-image img {
      max-width: 200px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #about {
      height: unset;
      padding-left: unset;
      padding-right: unset;
    }
    #about-image img {
      margin-top: 70%;
      padding-right: 40%;
      max-width: 230px;
    }
  
    #about-content {
      display: unset;
      font-size: 12px;
    }
  }
  