  #about{
    padding-top: 13%;
    padding-left: 7%;
    padding-bottom: 9%;
  }

  #about-title {
    font-size: 45px;
  }
  
  #about-desc {
    font-size: 22px;
    color: #ffffffc5;
  }
  
  #about-image img {
    max-width: 450px;
    margin-top: 18%;
    position: relative;
    box-shadow: 12px 12px rgb(103, 164, 164);
  }
  
  @media only screen and (max-width: 808px) {
    #about {
      height: unset;
      padding-left: unset;
      padding-right: unset;
    }

    #about-title {
      font-size: 22px;
    }
    
    #about-desc {
      font-size: 15px;
    }
  
    #about-content {
      display: unset;
      font-size: 14px;
    }

    #about-image img {
      max-width: 250px;
      box-shadow: none;
      margin-top: 90%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #about {
      height: unset;
      padding-left: unset;
      padding-right: unset;
    }
    #about-image img {
      margin-top: 90%;
      padding-right: 40%;
      max-width: 230px;
    }

    #about-title {
      font-size: 19px;
    }
    
    #about-desc {
      font-size: 13px;
    }
  
    #about-content {
      display: unset;
      font-size: 12px;
    }
  }
  