#intro {
    padding-top: 20%;
    padding-left: 7%;
    min-height: 100vh;
  }

  #intro-title {
    font-size: 70px;
  }

  #intro-subtitle {
    margin-top: -10px;
    color: var(--slate);
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: inline-block;
  }
  
  #intro-desc {
    font-size: 20px;
    max-width: 100%;
    padding-bottom: 50px;
    display: inline-block;
  }

  @media only screen and (max-width: 600px) {
  
    #intro {
      min-height: unset;
      padding-left: unset;
      margin: 0;
      align-items: center;
    }

    #intro-title {
      font-size: 46px;
    }
  
    #intro-subtitle {
      margin: 0;
      font-size: 28px;
      text-align: center;
    }
  
    #intro-desc {
      font-size: 18px;
      text-align: center;
      max-width: unset;
      padding-bottom: 40px;
    }
  
  }
  