#projects{
    padding-top: 2%;
    padding-bottom: 15%;
    padding-left: 7%;
    padding-right: 7%;

}

#projects-title {
    padding-left: 7%;
    position: relative;
}

.card {
    box-shadow: 3px 3px 8px rgb(106, 106, 111);
}
