.App {
    font-family: 'Fredoka', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color:rgb(77, 43, 244);
}

.text-gray {
    color: #ffffff;
}

.subtext-gray {
    color: #ffffff;
}

/* Fade-in Animation */
.fade-in-section {
    opacity: 0;
    transform: translateY(15vh);
    visibility: hidden;
    transition: opacity 0.5s ease-out, transform 1s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

.gradient-custom-1 {
    /* fallback for old browsers */
    background: #ebbba7;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(235, 187, 167, 1), rgba(207, 199, 248, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(63, 72, 124), rgb(9, 15, 52))
}

html, body { overflow-x: hidden; }

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

#content {
    /* padding: 80px 200px; */
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
  }

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #5bcca8;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}
